<div class="card reuse-card">
    <a class="card-logo" href="{{ page }}">
        <img alt="{{ name }}"
            src="{{placeholder image_url 'reuse' }}">
    </a>

    <div class="card-body">
        <h4>
            <a href="{{ page }}" title="{{title}}">
                {{ truncate title 250 }}
            </a>
        </h4>
    </div>
    <footer>
        <div class="author">
            {{#if reuse.organization}}
                {{avatar reuse.organization 20 }}
                <a class="user" href="{{ reuse.organization.page }}" title="{{ reuse.organization.name }}">
                    {{ reuse.organization.name }}
                </a>
            {{else}}
                {{avatar reuse.owner 20 }}
                <a class="user" href="{{ reuse.owner.page }}" title="{{ reuse.owner.name }}">
                    {{ reuse.owner.name }}
                </a>
            {{/if}}
            <span class="date">{{dt reuse.created_at }}</span>
        </div>
    </footer>

     <a class="rollover fade in" href="{{ page }}"
        title="{{ title }}">
        {{ mdshort description 180 }}
    </a>
    <footer class="rollover fade in">
        <ul>
            <li>
                <a class="btn btn-xs" rel="tooltip"
                    data-placement="top" data-container="body"
                    title="{{_ 'Type' }}">
                    <span class="fa fa-file fa-fw"></span>
                    {{_ type }}
                </a>
            </li>
            <li>
                <a class="btn btn-xs" rel="tooltip"
                    data-placement="top" data-container="body"
                    title="{{_ 'Reuses' }}">
                    <span class="fa fa-retweet fa-fw"></span>
                    {{default metrics.reuses 0 }}
                </a>
            </li>
            <li>
                <a class="btn btn-xs" rel="tooltip"
                    data-placement="top" data-container="body"
                    title="{{_ 'Stars' }}">
                    <span class="fa fa-star fa-fw"></span>
                    {{default metrics.followers 0 }}
                </a>
            </li>
        </ul>
    </footer>
</div>
