<div class="card dataset-card">
    {{#if organization }}
        <a class="card-logo" href="{{ page }}">
            <img alt="{{ organization.name }}"
                src="{{placeholder organization.image_url 'organization' }}">
        </a>
        {{#if organization.public_service }}
        <img src="{{theme 'img/certified-stamp.png' }}" alt="certified"
            class="certified" data-toggle="popover"
            data-title="{{_ 'Certified public service' }}"
            data-content="{{_ 'The identity of this public service is certified by %(certifier)s', certifier=config.SITE_AUTHOR }}"
            data-container="body" data-trigger="hover"/>
        {{/if}}
    {{else}}
    <div class="card-logo">
        <img src="{{placeholder '' 'organization' }}">
    </div>
    {{/if}}
    <div class="card-body ellipsis-dot">
        <h4>
            <a href="{{ page }}" title="{{title}}">
                {{ truncate title 250 }}
            </a>
        </h4>
    </div>
    <footer>
        <ul>
            {{#if spatial.territories }}
            <li>
                <a class="btn btn-xs" data-toggle="tooltip"
                    data-placement="top" data-container="body"
                    title="{{_ 'Territorial coverage' }}">
                    <span class="fa fa-map-marker fa-fw"></span>
                    {{ spatial.territories.0.name }}
                </a>
            </li>
            {{/if}}
            <li>
                <a class="btn btn-xs" data-toggle="tooltip"
                    data-placement="top" data-container="body"
                    title="{{_ 'Reuses' }}">
                    <span class="fa fa-retweet fa-fw"></span>
                    {{default metrics.reuses 0 }}
                </a>
            </li>
            <li>
                <a class="btn btn-xs" data-toggle="tooltip"
                    data-placement="top" data-container="body"
                    title="{{_ 'Stars' }}">
                    <span class="fa fa-star fa-fw"></span>
                    {{default metrics.followers 0 }}
                </a>
            </li>
        </ul>
    </footer>

     <a class="rollover fade in" href="{{ page }}"
        title="{{ title }}">
        {{ mdshort description 180 }}
    </a>
    <footer class="rollover fade in">
        <ul>
            {{#if temporal_coverage }}
            <li>
                <a class="btn btn-xs" data-toggle="tooltip"
                    data-placement="top" data-container="body"
                    title="{{_ 'Temporal coverage' }}">
                    <span class="fa fa-calendar fa-fw"></span>
                    {{dt temporal_coverage.start format='L' }} - {{dt temporal_coverage.end format='L' }}
                </a>
            </li>
            {{/if}}

            {{#if spatial.granularity }}
            <li>
                <a class="btn btn-xs" data-toggle="tooltip"
                    data-placement="top" data-container="body"
                    title="{{_ 'Territorial coverage granularity' }}">
                    <span class="fa fa-bullseye fa-fw"></span>
                    {{_ spatial.granularity }}
                </a>
            </li>
            {{/if}}

            {{#if frequency }}
            <li>
                <a class="btn btn-xs" data-toggle="tooltip"
                    data-placement="top" data-container="body"
                    title="{{_ 'Frequency' }}">
                    <span class="fa fa-clock-o fa-fw"></span>
                    {{_ frequency }}
                </a>
            </li>
            {{/if}}
        </ul>
    </footer>
</div>
