<dl class="dl-horizontal dl-wide">
    <dt>ID</dt>
    <dd>{{id}}</dd>
    {{#if dateCreated}}
    <dt>{{_ 'Created on'}}</dt>
    <dd>{{dt dateCreated}}</dd>
    {{/if}}
    {{#if dateModified}}
    <dt>{{_ 'Modified on'}}</dt>
    <dd>{{dt dateModified}}</dd>
    {{/if}}
    {{#if datePublished}}
    <dt>{{_ 'Published on'}}</dt>
    <dd>{{dt datePublished}}</dd>
    {{/if}}
</dl>

{{#if keywords.length}}
<h4>{{_ 'Tags' }}</h4>
<div class="label-list tags">
    {{#each keywords}}
    <a href="/search?tag={{this}}"
        class="label label-default"
        title="{{ this }}">
        {{ this }}
    </a>
    {{/each}}
</div>
{{/if}}

{{#if additionalProperty.length}}
<h4>{{_ 'Extra attributes'}}</h4>
<table class="table table-hover table-striped table-bordered">
    <thead>
        <tr>
            <th>{{_ "Key" }}</th>
            <th>{{_ "Value" }}</th>
        </tr>
    </thead>
    <tbody>
        {{#each additionalProperty}}
        <tr>
            <td>{{ name }}</td>
            <td>{{ value }}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{/if}}
