<div class="territory-popup">
    <b>{{feature.properties.name}}</b>
    <br/>
    <a href="/datasets?geozone={{feature.id}}">
        {{_ 'n_datasets' count=feature.properties.datasets }}
    </a>
    {{#each children}}
    <br/>
    <a href class="drill-down" data-level="{{id}}" data-feature-id="{{../feature.id}}">
        <span class="fa fa fa-arrow-circle-down"></span>
        {{label}}
    </a>
    {{/each}}
</div>
