<div class="image-cropper">
    <div class="row">
        <div class="col-xs-12 col-sm-8 crop-pane">
            <img class="cropper" />
        </div>
        <div class="col-xs-12 col-sm-4 preview-pane">
            <div class="checkbox">
                <label>
                    <input type="checkbox">
                    {{_ 'Center the full picture'}}
                </label>
            </div>
            <h5>{{_ "Thumbnails" }}</h5>
            {{#each sizes}}
            <div class="preview-container"
                style="width: {{ this }}px; height: {{ this }}px;">
                <img class="preview" alt="{{_ 'Preview' }} {{ this }}" />
            </div>
            {{/each}}
        </div>
    </div>
</div>
