<div class="btn-group btn-group-lg">
    <p>{{help_text}}</p>
    <textarea class="integrate-content">
<div data-udata-dataset-id="{{dataset_id}}"></div>
<script src="{{site_url}}{{widget_url}}" id="udata" async defer onload="udataScript.loadDatasets()"></script>
    </textarea>
    <a class="btn btn-link integrate-click"
        title="{{tooltip_text}}" v-tooltip tooltip-placement="bottom">
        <span class="fa fa-2x fa-clipboard"></span>
    </a>
    {{#if documentation_url}}
        <p><span class="fa fa-question-circle"> <a href="{{documentation_url}}">{{documentation_text}}</a></span></p>
    {{/if}}
</div>
