<div class="btn-group btn-group-lg">
    <a class="btn btn-link share-click" title="Google+"
        href="https://plus.google.com/share?url={{this.url}}" target="_blank">
        <span class="fa fa-2x fa-google-plus"></span>
    </a>
    <a class="btn btn-link share-click" title="Twitter"
        href="https://twitter.com/home?status={{title}}%20-%20{{this.url}}" target="_blank">
        <span class="fa fa-2x fa-twitter"></span>
    </a>
    <a class="btn btn-link share-click" title="Facebook"
        href="https://www.facebook.com/sharer/sharer.php?u={{this.url}}" target="_blank">
        <span class="fa fa-2x fa-facebook"></span>
    </a>
    <a class="btn btn-link share-click" title="LinkedIn"
        href="https://www.linkedin.com/shareArticle?mini=true&url={{this.url}}&title={{title}}" target="_blank">
        <span class="fa fa-2x fa-linkedin"></span>
    </a>
</div>
