{{#if href}}<a class="avatar" href="{{href}}" title="{{title}}">{{/if}}
<img src="{{avatar_url}}" class="avatar" width="{{avatar_size}}" height="{{avatar_size}}"
    alt="{{title}}"/>
{{#if href}}</a>{{/if}}
