<div class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog {{#if size}}modal-{{size}}{{/if}}">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{ title }}</h4>
      </div>
      <div class="modal-body">{{{ content }}}</div>
      <div class="modal-footer">
        {{#each actions}}
          {{#if this.url}}
          <a href="{{this.url}}" class="btn {{classes}}">
            {{#if icon}}{{icon icon}}{{/if}}
            {{label}}
          </a>
          {{else}}
          <button type="button" class="btn {{classes}}">
            {{#if icon}}{{icon icon}}{{/if}}
            {{label}}
          </button>
          {{/if}}
        {{/each}}
        {{#if close_btn}}
        <button type="button" class="btn {{close_cls}}" data-dismiss="modal">
          {{#if close_icon}}{{icon close_icon}}{{/if}}
          {{close_btn}}
        </button>
        {{/if}}
      </div>
    </div>
  </div>
</div>
