<div class="card user-card">
    <a class="card-logo" href="{{ page }}">
        <img src="{{placeholder avatar_url 'user' }}">
    </a>
    <div class="card-body">
        <h4>
            <a href="{{ page }}" title="{{fullname}}">
                {{ truncate fullname 250 }}
            </a>
        </h4>
    </div>
    <footer>
        <ul>
            <li>
                <a class="btn btn-xs" data-toggle="tooltip"
                    data-placement="top" data-container="body"
                    title="{{_ 'Datasets' }}">
                    <span class="fa fa-cubes fa-fw"></span>
                    {{default metrics.datasets 0 }}
                </a>
            </li>
            <li>
                <a class="btn btn-xs" data-toggle="tooltip"
                    data-placement="top" data-container="body"
                    title="{{_ 'Reuses' }}">
                    <span class="fa fa-retweet fa-fw"></span>
                    {{default metrics.reuses 0 }}
                </a>
            </li>
            <li>
                <a class="btn btn-xs" data-toggle="tooltip"
                    data-placement="top" data-container="body"
                    title="{{_ 'Stars' }}">
                    <span class="fa fa-star fa-fw"></span>
                    {{default metrics.followers 0 }}
                </a>
            </li>
        </ul>
    </footer>

     <a class="rollover fade in" href="{{ page }}"
        title="{{ fullname }}">
        {{mdshort about 180 }}
    </a>
</div>
