<tr class="extra">
    <td>
        <a class="key" href data-pk="{{ key }}" data-title="{{_ 'Key' }}">
            {{ key }}
        </a>
    </td>
    <td>
        <a class="value" href data-pk="{{ key }}" data-title="{{_ 'Value' }}">
            {{ value }}
        </a>
    </td>
    <td>
        <div class="btn-group btn-group-xs">
            <a class="btn btn-danger extra-remove" title="{{_ 'Remove' }}">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
        </div>
    </td>
</tr>
