<div class="issue-details">
    {{#each issue.discussion}}
    <div class="media">
        <a class="pull-left" href="{{posted_by.page}}">
            <img class="media-object" width="50" height="50"
                src="{{placeholder posted_by.avatar 'user'}}"
                alt="{{posted_by.first_name}} {{posted_by.last_name}}">
        </a>
        <div class="media-body">
            <div class="message text-left">
                <p>{{content}}</p>
            </div>
        </div>
    </div>
    {{/each}}
    <form role="form" action="{{issue.url}}">
         <div class="form-group">
            <label for="comment">{{_ "Comment" }}</label>
            <textarea id="comment" name="comment" class="form-control" rows="3" required></textarea>
        </div>
    </form>
</div>
