<p>{{_ 'You are about to remove this member from the current organization.' }}</p>
<div class="card user-card col-lg-offset-3 col-lg-6">
    <div class="avatar">
        <a href="{{ user_url }}" title="{{ fullname }}">
            <img src="{{ avatar_url }}" alt="{{ fullname }} avatar" />
        </a>
    </div>
    <div class="caption">
        <h3>
            <a href="{{ url_url }}"
                title="{{ fullname }}">
                {{ fullname }}
            </a>
        </h3>
    </div>
</div>
<div class="clearfix"></div>
<p><strong>{{_ 'Are you sure ?' }}</strong></p>
