<p>{{_ 'You can either add a new reuse or an existing one' }}</p>
<div class="row reuses-list smaller">
    {{#each reuses }}
    <div class="col-sm-6 col-md-4">
        <a class="thumbnail reuse postable" href="{{ add_url }}"
            data-field-name="dataset" data-field-value="{{../dataset}}">
            <div class="preview">
                <img class="media-object img-responsive" alt="{{ title }}" src="{{ image_url }}">
            </div>
            <div class="caption">
                <h4>{{ title }}</h4>
            </div>
        </a>
    </div>
    {{/each}}
    <div class="col-sm-6 col-md-4">
        <a class="thumbnail reuse add" href="{{ new_reuse_url }}">
            <div class="preview">+</div>
            <div class="caption">
                <h4>{{_ 'New reuse' }}</h4>
            </div>
        </a>
    </div>
</div>
