{{#if issues}}
<div class="issue-list">
    {{#each issues}}
    <div class="issue" data-issue-id="{{id}}">
        <div class="pull-left">
            <img class="media-object" width="50px" height="50px"
                src="{{placeholder user.avatar 'user'}}"
                alt="{{user.first_name}} {{user.last_name}}">
        </div>
        <div class="media-body">
            <h4 class="media-heading text-left">{{title}} ({{dt created }})</h4>
        </div>
    </div>
    {{/each}}
</div>
{{else}}
<p class="text-center">{{_ 'No issue.' }}</p>
<p class="text-center">{{_ 'Click on new issue if you want to emit a new one.'}}</p>
{{/if}}
